<widget id="anpho.bing" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0" 
  xmlns:rim="http://www.blackberry.com/ns/widgets" version="0.0.2">
  <name>Bing Wallpapers</name>
  <name xml:lang="zh-CN">必应美图</name>
  <access uri="http://www.bing.com" subdomains="true"/>
  <description>Bing Wallpapers Everyday</description>
  <content src="index.html"/>
  <icon src="img/logo.png"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="ChildBrowser" value="enable"/>
  <preference name="DiskCache" value="enable"/>
  <preference name="HideKeyboardFormAccessoryBar" value="enable"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="PopupBlocker" value="disable"/>
  <preference name="WebSecurity" value="disable"/>
  <preference name="SpatialNavigation" value="true"/>
  <author>anpho</author>
</widget>